{% extends 'base.html.twig' %}

{% block title %}Tous nos produits{% endblock %}

{% block body %}


<div>
    <h1>Catalogue</h1>

    <ul>
        {% for product in products %}
            <li><a href="{{ path('app_product_show', {slug: product.slug}) }}">
                    {{ product.name }} - {{ product.priceAsDecimal|format_currency('EUR') }} </a>
            </li>
         {%  else %}
            <li>Aucun produit pour le moment</li>
         {%  endfor %}
    </ul>
</div>
{% endblock %}
